<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 data-th-text="${name}"></h1>
        <h2>Subscribe My Channel : <span data-th-text="${Youtube_Channel}"></span></h2>
      <div >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
        ipsam saepe rerum numquam, impedit eius laudantium libero enim quia
        id.</s
      >
    </div>
  </body>
</html>
